---
import Layout from '../layouts/Layout.astro';
import { getBlogs } from '../libs/microcms'
import '../styles/style.css'
import Images from '../images/matrix.jpg'
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';

//MicroCMS呼び出し
const response = await getBlogs({ fields: ["id", "title"] });
---

<Layout title="Astro Blog">
    <Navigation title='kii weblog'/>
    <!-- Page Header-->
        <header class="masthead" style="background-image: url('src/images/matrix.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>kii weblog</h1>
                            <span class="subheading">Engineer's notepad</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    <div class="post-preview">
                        {response.contents.map((blog:any) => (
                            <a href={blog.id}>
                                <h2 class="post-title">{blog.title}</h2>
                                <h3 class="post-subtitle">Problems look mighty small from 150 miles up</h3>
                            </a>
                            <p class="post-meta">
                                Posted by
                                <a href="#!">{blog.date}</a>
                                {new Date(blog.publishedAt).toLocaleString()}
                            </p>
                            ))
                        }
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
                </div>
            </div>
        </div>
 <Footer />
 <script src="../scripts/scripts"></script>
</Layout>

